---
- hosts: all
  become: yes
  tasks:
  - name: Install webserver on ubuntu node
    apt:
     name: apache2
     state: present
  - name: Install tree
    apt: 
     name: tree
     state: present
  - name: Install git
    apt:
     name: git
     state: present
  - name: install php
    apt:
     name: php
    state: present
